
    
    body {
        font-family: "Monoton", Arial;
        background-color: yellowgreen;
        color: brown;
    
    }


header {
    text-size-adjust:  100%;
    font-family: "Monoton", Arial;

    font-size: 80px;
    text-align: center;
    color: brown;
    /* background-color: yellowgreen; */
    
}

.image{
    width: 100%;
}
.panel {
    width: 50%;    
    font-family: "Monoton", Arial;

    height: 600px;
    padding: 50px;
    border: 10px dotted green;
    background-color: yellowgreen;

    float: left;

}

#marquees {
    margin: auto;
    width: 80%;
}

#userGuess {
    font-size: 40px;

}
#wrongGuess {
    font-size: 40px;
}

